$primary-color: aliceblue;

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  color: $primary-color;
}

#holder {
  position: relative;
  line-height: 100vh;
  height: 100vh;
  width: 100vw;
  animation: fadein 0.5s;
}

#red, #blue {
  text-align: center;
  vertical-align: middle;
  font-size: 15em;
  width: 50%;
  float: left;
  display: inline-block;
  height: 100vh;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#red-value, #blue-value {
  height: 100%;
  display: block;
}

#red-value.winner, #blue-value.winner {
  text-decoration: underline;
}

.left, .right {
  background-color: red;
  position: absolute;
  top: 22vh;
  width: 25%;
  left: 10%;
  padding: 1% 2.5%;
  font-size: 3em;
  text-align: center;
  border: none;
  text-transform: capitalize;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.right {
  background-color: blue;
  left: 60%;
}

$timerInitialPosition: -14vh;
$timerActivePosition: 41vh;

#timer {
  top: $timerInitialPosition;
  width: 20%;
  padding: 4vh;
  font-size: 10vh;
  background-color: black;
  color: aliceblue;
  position: absolute;
  left: 38%;
  text-align: center;
  vertical-align: top;
  z-index: 2;
  display: inline-block;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#timer.active-no-animation {
  top: $timerActivePosition;;
}

#timer.active {
  animation: animateForwards 500ms ease-in-out forwards;
}

#timer.inactive {
  animation: animateBackwards 500ms ease-in-out forwards;
}

@keyframes animateForwards {
  from { top: $timerInitialPosition;  }
  to { top: $timerActivePosition;  }
}

@keyframes animateBackwards {
  from { top: $timerActivePosition; }
  to { top: $timerInitialPosition; }
}

$borderBlinkSize: 2vh;

@-webkit-keyframes borderBlink {
  from, to {
    box-shadow: 0px 0px $borderBlinkSize 0.1vh white;
    top: $timerActivePosition;
  }
  50% {
    box-shadow: 0px 0px $borderBlinkSize $borderBlinkSize white;
    top: $timerActivePosition;
  }
}

@keyframes borderBlink {
  from, to {
    box-shadow: 0px 0px $borderBlinkSize 0.1vh white;
    top: $timerActivePosition;
  }
  50% {
    box-shadow: 0px 0px $borderBlinkSize $borderBlinkSize white;
    top: $timerActivePosition;
  }
}

.borderBlink {
  -webkit-animation: borderBlink 800ms linear infinite !important;
  animation: borderBlink 800ms linear infinite !important;
}



$bottom-number: 2vh;
$bottom-padding: 1vh;
$ready-width: 15vw;

.bottom-row {
  position: absolute;
  bottom: $bottom-number;
  background-color: black;
  color: $primary-color;
  width: 76vw;
  padding: 1vw;
  height: 3vh;
  left: 12vw;
  opacity: 0.6;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;



  .getready {
    left: 76/2 - $ready-width/2;
    text-align: center;
    width: $ready-width;
    font-size: 3vh;
    background-color: black;
    opacity: 1;
    z-index: 3;
    text-transform: none;
  }

  input {
    border: none;
    color: $primary-color;
    font-size: 3vh;
    background-color: transparent;
    width: 28vw;
    display: inline-block;
    text-transform: capitalize;
  }

  .getready, input {
    bottom: $bottom-number - 0.5;
    position: absolute;

  }

  input.left-bottom {
    text-align: right;
  }

  input.right-bottom {
    text-align: left;
    left: 76/2 + $ready-width /2 + 1;
  }
}

.hide {
  opacity: 0.01
}